![dvd_image](dvd_image.jpg)

A DVD rental company needs your help! They want to figure out how many days a customer will rent a DVD for based on some features and has approached you for help. They want you to try out some regression models which will help predict the number of days a customer will rent a DVD for. The company wants a model which yeilds a MSE of 3 or less on a test set. The model you make will help the company become more efficient inventory planning.

The data they provided is in the csv file `rental_info.csv`. It has the following features:
- `"rental_date"`: The date (and time) the customer rents the DVD.
- `"return_date"`: The date (and time) the customer returns the DVD.
- `"amount"`: The amount paid by the customer for renting the DVD.
- `"amount_2"`: The square of `"amount"`.
- `"rental_rate"`: The rate at which the DVD is rented for.
- `"rental_rate_2"`: The square of `"rental_rate"`.
- `"release_year"`: The year the movie being rented was released.
- `"length"`: Lenght of the movie being rented, in minuites.
- `"length_2"`: The square of `"length"`.
- `"replacement_cost"`: The amount it will cost the company to replace the DVD.
- `"special_features"`: Any special features, for example trailers/deleted scenes that the DVD also has.
- `"NC-17"`, `"PG"`, `"PG-13"`, `"R"`: These columns are dummy variables of the rating of the movie. It takes the value 1 if the move is rated as the column name and 0 otherwise. For your convinience, the reference dummy has already been dropped.

In [85]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

# Import any additional modules and start coding below

In [86]:
# Read the CSV file into a pandas DataFrame
rental_df = pd.read_csv('rental_info.csv')

# Display the first few rows to verify
rental_df.head()

                 rental_date  ... rental_rate_2
0  2005-05-25 02:54:33+00:00  ...        8.9401
1  2005-06-15 23:19:16+00:00  ...        8.9401
2  2005-07-10 04:27:45+00:00  ...        8.9401
3  2005-07-31 12:06:41+00:00  ...        8.9401
4  2005-08-19 12:30:04+00:00  ...        8.9401

[5 rows x 15 columns]

In [87]:
# Drop any rows with null values
rental_df = rental_df.dropna()

# Convert rental_date and return_date to datetime
rental_df['rental_date'] = pd.to_datetime(rental_df['rental_date'])
rental_df['return_date'] = pd.to_datetime(rental_df['return_date'])

# Calculate rental_length_days as the difference in days between return_date and rental_date
rental_df['rental_length_days'] = (rental_df['return_date'] - rental_df['rental_date']).dt.days

# Display the first few rows to verify the new column
rental_df.head()

                rental_date  ... rental_length_days
0 2005-05-25 02:54:33+00:00  ...                  3
1 2005-06-15 23:19:16+00:00  ...                  2
2 2005-07-10 04:27:45+00:00  ...                  7
3 2005-07-31 12:06:41+00:00  ...                  2
4 2005-08-19 12:30:04+00:00  ...                  4

[5 rows x 16 columns]

In [88]:
# Create dummy variable for "Deleted Scenes"
rental_df['deleted_scenes'] = rental_df['special_features'].str.contains('Deleted Scenes', na=False).astype(int)

# Create dummy variable for "Behind the Scenes"
rental_df['behind_the_scenes'] = rental_df['special_features'].str.contains('Behind the Scenes', na=False).astype(int)

# Display the first few rows to verify the new columns
rental_df.head()

                rental_date  ... behind_the_scenes
0 2005-05-25 02:54:33+00:00  ...                 1
1 2005-06-15 23:19:16+00:00  ...                 1
2 2005-07-10 04:27:45+00:00  ...                 1
3 2005-07-31 12:06:41+00:00  ...                 1
4 2005-08-19 12:30:04+00:00  ...                 1

[5 rows x 18 columns]

In [89]:
# Define the new target variable for prediction
target = 'rental_length_days'

# Columns to exclude to avoid data leakage or irrelevance
leakage_cols = [
    'rental_length_days', # target variable
    'rental_date',        # contains info about the transaction timing
    'return_date',        # contains info about the transaction timing
    'special_features'    # original text column, now encoded
]

# Select feature columns: all columns except those in leakage_cols
feature_cols = [col for col in rental_df.columns if col not in leakage_cols]

# Create the feature DataFrame X and target Series y
X = rental_df[feature_cols]
y = rental_df[target]

# Display the first few rows to verify
X.head()

   amount  release_year  ...  deleted_scenes  behind_the_scenes
0    2.99        2005.0  ...               0                  1
1    2.99        2005.0  ...               0                  1
2    2.99        2005.0  ...               0                  1
3    2.99        2005.0  ...               0                  1
4    2.99        2005.0  ...               0                  1

[5 rows x 14 columns]

In [90]:
# Split the data into train and test sets (80% train, 20% test) with random_state=9
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.20, random_state=9
)

# Display the shapes to verify the split
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((12688, 14), (3173, 14), (12688,), (3173,))

In [91]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

# Train a Random Forest Regressor
rf = RandomForestRegressor(
    n_estimators=200,
    max_depth=8,
    min_samples_leaf=2,
    random_state=9,
    n_jobs=-1
)
rf.fit(X_train, y_train)

# Predict on the test set
y_pred = rf.predict(X_test)

# Calculate Mean Squared Error
mse = mean_squared_error(y_test, y_pred)
mse

2.3568609338143025

In [92]:
# Save the trained Random Forest model and its MSE as the best model and best MSE
best_model = rf
best_mse = mse